<section id="cara">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A su servicio</h2>
                <h2 class="section-heading">Los más vendidos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Corrector cremoso radiante</h3>
                    <div class="col-lg-3 col-md-6 text-justified">
                    <p class="text-muted">Un corrector galardonado que corrige, contornea, resalta y perfecciona hasta por 16 horas; ahora todos los tonos están disponibles en tamaño mini.</p>
                    <p class="text-muted">Cobertura: Medio.</p>
                    <p class="text-muted">Acabado: Natural.</p>
                    <p class="text-muted">Formulación: Líquida.</p>
                    <p class="text-muted">Tipo de piel: Normal, Seca, Mixta y Grasa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Corrector</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Ship</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            
        </div>
    </div>
</section>
