<section id="labio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A su servicio</h2>
                <h2 class="section-heading">Los más vendidos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lápiz labial mate Le Rouge Deep Velvet</h3>
                    <p class="text-muted">Una barra de labios en polvo con acabado mate, altamente pigmentada, envuelta en terciopelo rojo.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$38.00 o 4 pagos sin intereses de $ 9.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Dior Addict Lip Maximizer Plumping Gloss</h3>
                    <p class="text-muted">Un brillo de labios característico que combina la máxima hidratación, con un efecto instantáneo.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$34.00 o 4 pagos sin intereses de $ 8.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Too faced Melted Matte Liquid Lipstick</h3>
                    <p class="text-muted">Una barra de labios ultra mate innovadora y de larga duración con el poder de permanencia de una mancha.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$22.00 o 4 pagos sin intereses de $ 5.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>KVD Vegan Beauty Everlasting Lip Liner</h3>
                    <p class="text-muted">Un delineador de labios que combina una duración extrema con un color verdaderamente ingrávido que se mantiene súper cómodo.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$19.00 o 4 pagos sin intereses de $ 4.75</p>
                </div>
            </div>
        </div>
    </div>
</section>
