<section id="ojos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A su servicio</h2>
                <h2 class="section-heading">Los más vendidos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Paleta de ojos - Mupstore Pat McGrath Labs</h3>
                    <p class="text-muted">Una edición épica de tonos que ofrece un espectro completo de perfección para un arte infinito.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$78.00 o 4 pagos sin intereses de $ 19.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Máscara de pestañas - Better Than Sex</h3>
                    <p class="text-muted">Una máscara de volumen voluptuosa, intensamente negra, para las pestañas más sexys y definidas.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$26.00 o 4 pagos sin intereses de $ 6.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Highliner Gel Eye Crayon Eyeliner - Marc Jacobs</h3>
                    <p class="text-muted">Un delineador de ojos en gel en un crayón que brinda un color intenso y un uso impermeable de 12 horas.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$26.00 o 4 pagos sin intereses de $ 6.50</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lilly Lashes 3D Mink</h3>
                    <p class="text-muted">Un par de pestañas postizas lujosas y glamorosas hechas a mano que se combinan a la perfección con tus pestañas naturales.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$30.00 o 4 pagos sin intereses de $ 7.50</p>
                </div>
            </div>
        </div>
    </div>
</section>
