<section id="pinceles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A su servicio</h2>
                <h2 class="section-heading">Los más vendidos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Complexion: Uncomplicated Brush Set</h3>
                    <p class="text-muted">Un juego de cinco piezas de cepillos faciales imprescindibles, para crear un cutis impecable.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$45.00 o 4 pagos sin intereses de $ 11.25</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Dior Addict Lip Maximizer Plumping Gloss</h3>
                    <p class="text-muted">Un brillo de labios característico que combina la máxima hidratación, con un efecto instantáneo.</p>
                    <p class="text-muted">-</p>
                    <p class="text-muted">$34.00 o 4 pagos sin intereses de $ 8.50</p>
                </div>
            </div>
        </div>
    </div>
</section>
